@use "./variables.scss" as var;

.app {
	min-height: 100vh;
	max-width: 1280px;
	margin-inline: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-content: center;
	place-items: center;
}

.inputform {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 450px;
	gap: 1.5em;
	input {
		padding: 0.5em;
		border: 2px solid var.$light-gray-violet;
		border-radius: 0.5em;
		width: 100%;
		&::placeholder {
			color: var.$dark-gray-violet;
		}
	}
	label {
		font-size: 14px;
		text-transform: uppercase;
		color: var.$dark-violet;
		font-weight: 900;
		letter-spacing: 1px;
	}
	.name,
	.cardnum {
		grid-column: 1 / -1;
	}
	.expdate {
		display: flex;
		gap: 0.5em;
	}
	.submit {
		width: 100%;
		grid-column: 1 / -1;
		padding: 1em;
		border-radius: 0.5em;
		border: none;
		background-color: var.$dark-violet;
		color: white;
	}

	.error {
		color: var.$error-red;
		font-size: 14px;
	}

	.wrapper:has(.error) input {
		border-color: var.$error-red;
	}
}
