$error-red: hsl(0, 100%, 66%);
$linear-grad: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));

$light-gray-violet: hsl(270, 3%, 87%);
$dark-gray-violet: hsl(279, 6%, 55%);
$dark-violet: hsl(278, 68%, 11%);
